$color1:rgb(87, 21, 255);
$colordk:#111;
$colorlt:#fff;
$color2:#333;
$color3:#444;
$color4:#555;
$color5:#666;
$color6:#cecece;

body{

    *{
        box-sizing: border-box;
        font-family: "Bebas Neue", cursive;
    }

    .invert,.invert *{
        color:#fff;
    }

    display: flex;
    flex-direction: column;
    width:100vw;
    background-color: $colordk;

    #root{

        width: 100%;

        .btn{
            background-color:#222;
            padding: 1em 2em;
            transition: all ease .25s;
            scale: .95;

            &:hover{
                scale: 1;
                background-color:$color2;
            }
        }

        .main-header{

            position: fixed;    
            top:0;
            z-index: 1;
            background: #11111199;
            width:100vw;
            left:0vw;

            ul{
                li{
                    min-width: 150px;
                }
            }

            *{
                color: #fff;
            }
        }

        section.first-fixed{
            position: fixed;
            top:0;
            left:0;
        }

        .dk{
                background-color:$colordk;
        }

        .lt{
            background-color:$colorlt;
        }

        section.thin{
            width: 96%;
            margin: auto;
        }

        section{
            // background: radial-gradient(circle at 75% 100%, #fff 0% 20%, #000000 20%);
            position: relative;
            height: 80vh;
            width: 100%;

            .robot-img{
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../assets/robot-quirky.png);

            }

            .text-block{
                padding: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .large-wrapper{
            max-width: 1200px;
            margin: auto;
        }

        .card-wrapper{
            height: 100%;
            min-height: 450px;
            background-color: $color6;
        }
    }
}