body{

    *{
        box-sizing: border-box;
    }

    display: flex;
    flex-direction: column;
    width:100vw;

    #root{
        
        width: 100%;

        .main-header{

            position: fixed;    
            top:0;
            left: 0;
            background-color: #222;

            *{
                color: #fff;
            }
        }
    }
}